<section class="about">
    <div class="about__bg">
        <picture>
            <source srcset="/images/about-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/about.webp" alt="" class="about__bg-image">
        </picture>
    </div>
    <div class="about__content">
        <div class="about__words">
            АКЦИЯ
        </div>
        <div class="about__text-content">
            <h2 class="about__heading">
                О программе
            </h2>
            <div class="about__text">
                <p>
                    <em>#ДРУЖИТЬ ПО-РИМСКИ</em> — наша специальная акция для локального бизнеса, которая делает цифровую
                    наружную рекламу в Омске и Санкт-Петербурге максимально доступной.
                </p>
                <p>
                    Множество современных экранов и большие охваты, которые по карману каждому бизнесу. Это и значит
                    #ДРУЖИТЬ ПО-РИМСКИ!
                </p>
            </div>
            <a href="#" class="btn about__btn">
                Выбрать конструкции
            </a>
        </div>
    </div>
</section>