<section class="cities">
    <div class="cities__bg">
        <picture>
            <source srcset="/images/cities-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cities.webp" alt="" class="cities__bg-image">
        </picture>
    </div>
    <div class="cities__content">
        <h2 class="cities__heading">
            Большой выбор сторон в двух городах
        </h2>
        <div class="cities__row">
            <div class="cities__block">
                <h3 class="cities__block-title">
                    омск
                </h3>
                <div class="cities__block-card-wrapper">
                    <div class="cities__block-card">
                        <div class="cities__block-card-item">
                            <h4 class="cities__block-card-item-title">
                                Digital-билборды
                            </h4>
                            <ul class="cities__block-price-list">
                                <li class="cities__block-price-list-item">
                                    <b>15 000 ₽</b> — от 3 сторон
                                </li>
                                <li class="cities__block-price-list-item">
                                    <b>10 000 ₽</b> — от 5 сторон
                                </li>
                            </ul>
                        </div>
                        <div class="cities__block-card-item">
                            <h4 class="cities__block-card-item-title">
                                Крупные форматы
                            </h4>
                            <ul class="cities__block-price-list">
                                <li class="cities__block-price-list-item">
                                    <b>35 000 ₽</b> — от 3 сторон
                                </li>
                                <li class="cities__block-price-list-item">
                                    <b>33 000 ₽</b> — от 5 сторон
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="cities__block-card-label">
                        *Цены без НДС
                    </div>
                    <picture>
                        <source srcset="/images/cities-left-line-mobile.svg" media="(max-width: 640px)" />
                        <img src="/images/cities-left-line.svg" alt="" class="cities__block-card-line">
                    </picture>
                </div>
            </div>
            <div class="cities__block">
                <h3 class="cities__block-title">
                    САНКТ-<br>ПЕТЕРБУРГ
                </h3>
                <div class="cities__block-card-wrapper">
                    <div class="cities__block-card">
                        <div class="cities__block-card-item">
                            <h4 class="cities__block-card-item-title">
                                Digital-билборды
                            </h4>
                            <ul class="cities__block-price-list">
                                <li class="cities__block-price-list-item">
                                    <b>15 000 ₽</b> — от 10 сторон
                                </li>
                                <li class="cities__block-price-list-item">
                                    <b>13 000 ₽</b> — от 20 сторон
                                </li>
                                <li class="cities__block-price-list-item">
                                    <b>12 000 ₽</b> — от 30 сторон
                                </li>
                                <li class="cities__block-price-list-item">
                                    <b>11 000 ₽</b> — от 40 сторон
                                </li>
                                <li class="cities__block-price-list-item">
                                    <b>10 000 ₽</b> — от 50 сторон
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="cities__block-card-label">
                        *Цены без НДС
                    </div>
                    <picture>
                        <source srcset="/images/cities-right-line-mobile.svg" media="(max-width: 640px)" />
                        <img src="/images/cities-right-line.svg" alt="" class="cities__block-card-line">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>