<section class="dream">
    <div class="dream__bg">
        <picture>
            <source srcset="/images/dream-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/dream.webp" alt="" class="dream__bg-image">
        </picture>
    </div>
    <div class="dream__content">
        <div class="dream__text-content">
            <div class="dream__small-heading">
                Это не мечта, это акция
            </div>
            <div class="dream__large-heading" data-text="#ДРУЖИТЬ ПО-РИМСКИ!">
                <div class="dream__large-heading-text">
                    #ДРУЖИТЬ ПО-РИМСКИ!
                </div>
            </div>
            <a href="#" class="btn dream__btn">
                Оставить заявку
            </a>
        </div>
    </div>
</section>