<section class="rules">
    <div class="rules__bg">
        <picture>
            <source srcset="/images/rules-mobile-blur.svg" media="(max-width: 640px)" />
            <img src="/images/rules-blur.svg" alt="" class="rules__bg-image">
        </picture>
    </div>
    <div class="rules__content">
        <h2 class="rules__heading">
            Условия акции <b>#ДРУЖИТЬ ПО-РИМСКИ</b>
        </h2>
        <ul class="rules__list">
            <li class="rules__list-item">
                <div class="rules__card">
                    <div class="rules__card-icon-wrapper">
                        <img src="/images/rules/1-icon.webp" alt="" class="rules__card-icon">
                    </div>
                    <div class="rules__card-image-container">
                        <img src="/images/rules/1.webp" alt="" class="rules__card-image">
                    </div>

                    <div class="rules__card-content">
                        <h3 class="rules__card-heading">
                            Срок действия
                        </h3>
                        <div class="rules__card-text">
                            1 сентября — 31 октября 2025.
                        </div>
                    </div>
                </div>
            </li>
            <li class="rules__list-item">
                <div class="rules__card">
                    <div class="rules__card-icon-wrapper">
                        <picture>
                            <source srcset="/images/rules/2-icon-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/rules/2-icon.webp" alt="" class="rules__card-icon">
                        </picture>
                    </div>
                    <div class="rules__card-image-container">
                        <img src="/images/rules/2.webp" alt="" class="rules__card-image">
                    </div>
                    <div class="rules__card-content">
                        <h3 class="rules__card-heading">
                            Стоимость
                        </h3>
                        <div class="rules__card-text">
                            В стоимость включено размещение. Дизайн макета оплачивается отдельно.
                        </div>
                    </div>
                </div>
            </li>
            <li class="rules__list-item">
                <div class="rules__card">
                    <div class="rules__card-icon-wrapper">
                        <img src="/images/rules/3-icon.webp" alt="" class="rules__card-icon">
                    </div>
                    <div class="rules__card-image-container">
                        <img src="/images/rules/3.webp" alt="" class="rules__card-image">
                    </div>
                    <div class="rules__card-content">
                        <h3 class="rules__card-heading">
                            Оплата
                        </h3>
                        <div class="rules__card-text">
                            Чтобы принять участие в акции, необходимо внести 100% предоплаты.
                        </div>
                    </div>
                </div>
            </li>
            <li class="rules__list-item">
                <div class="rules__card">
                    <div class="rules__card-icon-wrapper">
                        <img src="/images/rules/4-icon.webp" alt="" class="rules__card-icon">
                    </div>
                    <div class="rules__card-image-container">
                        <img src="/images/rules/4.webp" alt="" class="rules__card-image">
                    </div>
                    <div class="rules__card-content">
                        <h3 class="rules__card-heading">
                            Срок размещения
                        </h3>
                        <div class="rules__card-text">
                            Минимальный срок размещения рекламы — 2 месяца, сентябрь-октябрь.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>