<section class="success-page">
    <div class="success-page__bg">
        <picture>
            <source srcset="/images/success-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/success.webp" alt="" class="success-page__bg-image">
        </picture>
    </div>
    <div class="success-page__content">
        <div class="success-page__text-content">
            <h1 class="success-page__heading">
                Спасибо за вашу заявку,
            </h1>
            <div class="success-page__text">
                наш менеджер свяжется с вами по указанному телефону в самое ближайшее время
            </div>
        </div>

    </div>
</section>