<section class="who-can">
    <div class="who-can__bg">

        <picture>
            <source srcset="/images/who-can-blurs-mobile.svg" media="(max-width: 640px)" />
            <img src="/images/who-can-blurs.svg" alt="" class="who-can__bg-image">
        </picture>
        <picture>
            <source srcset="/images/who-can-blurs-mobile.svg" media="(max-width: 640px)" />
            <img src="/images/who-can-blurs.svg" alt="" class="who-can__bg-image">
        </picture>
    </div>
    <div class="who-can__content">
        <div class="who-can__items">
            <div class="who-can__item">
                <div class="who-can__icon-container">
                    <img src="/images/who-can-icon-1.svg" alt="" class="who-can__icon">
                </div>
                <div class="who-can__image-container">

                    <img src="/images/who-can-3.webp" alt="" class="who-can__image">
                </div>
                <div class="who-can__text-content">
                    <h3 class="who-can__title">
                        Кто может<br> участвовать в акции
                    </h3>
                    <div class="who-can__text">
                        Только локальный бизнес и прямые бренды — компании, которые работают в пределах одного города
                        или региона и ориентированы на местных клиентов.
                    </div>
                    <img src="/images/who-can-line-1.webp" alt="" class="who-can__line">
                </div>
            </div>
            <div class="who-can__item">
                <div class="who-can__icon-container">
                    <img src="/images/who-can-icon-2.svg" alt="" class="who-can__icon">
                </div>
                <div class="who-can__image-container">
                    <img src="/images/who-can-1.webp" alt="" class="who-can__image">
                </div>
                <div class="who-can__text-content">
                    <h3 class="who-can__title">
                        В акции<br> не могут участвовать
                    </h3>
                    <div class="who-can__text">
                        Застройщики, рекламные агентства, а также все, кто не попадает под определение локального
                        бизнеса.
                    </div>
                    <img src="/images/who-can-line-2.webp" alt="" class="who-can__line">
                </div>
            </div>
        </div>
    </div>
</section>